*{
    margin: 0;
    padding: 0;
}

:root{
    --blue: #A6C9E3;
    --yellow: #ECBC81;
    --coral: #D86868;
    --magenta: #7F2E63;
    --purple: #29193F;
    --white: #EDEDED;
    --green: #39B549;
    --dark_green: rgb(23, 95, 33);
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgba(223,129,129,0.6) 10%, rgba(241,205,162,0.6) 70%);
    font-family: 'Open Sans';
    font-weight: 300;
}

form{
    position: absolute;
    top: calc(45% - 400px/2);
    left: calc(50% - 300px/2);
    height: 400px;
    width: 300px;
}

.elements{
    background-color: var(--white);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

p{
    font-family: 'Open Sans';
    font-weight: 300;
}

button{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
    color: var(--white);
    background-color: var(--green);
    border: 0;
    border-radius: 5px;
    padding: 8px;
    outline: none;
    margin: 5px 0;
}

button:hover{
    cursor: pointer;
    background-color: var(--dark_green);
}

.signin__button{
    padding: 8px 30px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
}

a:hover{
    color: var(--blue);
}

.signin__p{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
    margin: 6px 0;
}

.first__elem__signin{
    font-weight: 600;
    margin-top: 23%;
    margin-bottom: 5%;
    font-size: 22px;
}

.signin{
    padding: 0;
    outline: none;
    border: 0;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    background-color: var(--white);
}

input{
    height: 35px;
    width: 65%;
    border-radius: 10px;
    border: 0;
    padding: 0 10px;
    margin-bottom: 10px;
}

::placeholder{
    font-size: 16px;
    font-weight: 300;
}

input:focus{
    outline: none;
    border-color: var(--purple);
}

.first__elem{
    font-weight: 600;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 22px;
}

input[type="text"]{
    font-size: 16px;
}

input[type="password"]{
    font-size: 18px;
    font-weight: 600;
}

.notifications{
    float: right;
    width: 300px;
    height: 90vh;
    margin: 20px 100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.popup__error{
    width: 300px;
    height: 80px;
    background-color: #F8D7DA;
    background-image: url('./images/error.png');
    background-repeat: no-repeat;
    background-position: 26px 27px;
    background-size: 25px;
    border: 2px solid #F5C6CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}
.popup__error span{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #721C24;
    margin-left: 70px;
}

.popup__success{
    width: 300px;
    height: 80px;
    background-color: #D4EDDA;
    background-image: url('./images/success.png');
    background-repeat: no-repeat;
    background-position: 26px 27px;
    background-size: 25px;
    border: 2px solid #C3E6CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}
.popup__success span{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #155724;
    margin-left: 70px;
}

.first__elem__invite{
    font-weight: 600;
    margin-top: 23%;
    margin-bottom: 8%;
    font-size: 22px;
}

.elements__invite{
    height: 350px;
}

.invite__p{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
    margin: 30px 5px 0;
}

.invite__button{
    border-radius: 10px;
    padding: 10px 35px;
}

.hide{
    display: none;
}

.confirm{
    position: absolute;
    top: calc(45% - 200px/2);
    left: calc(50% - 300px/2);
    height: 200px;
    width: 300px;
}

.modal{
    text-align: center;
    z-index: 1;
    height: 200px;
    width: 300px;
    box-shadow: -2px -2px 35px -7px rgba(0,0,0,1);
}

.confirm span{
    font-size: 18px;
    margin: 15px 0;
}

.confirm__accept-button{
    border-radius: 10px;
    padding: 10px 35px;
}

.confirm__decline-button{
    border-radius: 10px;
    padding: 10px 35px;
    background-color: rgb(194, 83, 94);
}

.confirm__decline-button:hover{
    background-color: #721C24;
}